[submodule "lib/MDM-HTMLReport-py"]
	path = lib/MDM-HTMLReport-py
	url = https://github.com/andreyputilovmaterial/MDM-HTMLReport-py.git
[submodule "lib/MDD-read-py"]
	path = src/lib/mdmreadpy
	url = https://github.com/andreyputilovmaterial/MDD-read-py.git
[submodule "lib/diff-lib"]
	path = src/lib/difflib
	url = https://github.com/andreyputilovmaterial/diff-lib.git
